html{line-height:5px;}
*{text-align:center;font-size:97% !important;font-family:sans-serif;letter-spacing:1px;word-spacing:1px;}

.ui-slider-input{margin:10% 18% 0 !important;width:66% !important;font-weight:normal !important;background:none;}
.ui-slider-track{margin:0 2%;border-radius:3px;height:6px;background:silver;box-shadow:inset 0 2px 4px black;}
.ui-slider-handle{margin-top:-8px !important;border-radius:100%;height:18px !important;width:18px !important;background:lightblue;}

#plt{
  margin:1% auto;
  height:650px;
  width:900px;
  border-radius:5px;
  background:#dcdcdc;
  background:linear-gradient(#ddd,#ccc);
  background:-webkit-linear-gradient(#ddd,#ccc);
  box-shadow:0 2px 5px black,inset 0 -1px 1px white;
}
.dsh{
  margin:10px;
  border-radius:5px 5px 0 0;
  padding:8px;
  background:linear-gradient(180deg,rgb(240,240,240) 50%,white 50%);
  background:-webkit-linear-gradient(90deg,white 50%,rgb(240,240,240) 50%);
  background-size:5px 5px;
  box-shadow:0 4px 10px #111,inset 0 -1px 1px 1px #ddd;
}
.dllr,#yrs{
  float:left;
  margin:auto auto auto 6% !important;
  border-radius:0;
  width:75% !important;
  background:White !important;
  box-shadow:inset 0 1px 1px black;
}
.swtch{float:left;margin:-2% 2% 6% !important;width:15px;}
.swtch a{background:#ddd;}
.swtch a:first-child{border-radius:100% 100% 0 0 !important;}
.swtch a:last-child{border-radius:0 0 100% 100% !important;}
.swtch a:active{background:lightblue;}
.swtch .ui-btn-inner{padding:6px 0;}
#svngs{margin:12% auto;_font-weight:bold;font-size:110% !important;}
#chrt{margin:auto;height:595px;width:98%;padding:8px;background:White;box-shadow:inset 0 1px 1px black;}
#lbl{float:left;width:9%;padding-right:1%;}
#grph{float:left;width:90%;}
#bars,#grid{position:absolute;height:500px;width:560px;}
#lgnd{position:relative;top:550px;font-weight:bold;}
