*{
  color:#333;
  font-size:102%;
  font-family:'PT Sans';
  text-align:center;
  text-shadow:0 0 1px rgba(0,0,0,.125),
    1px 1px GhostWhite;}
html,body{margin:0;height:100%;width:100%;padding:0;}
input:focus,select:focus,textarea:focus,button:focus{
  outline:none;}
input:not([type='range']),select{
  margin:0;
  border-radius:16px;
  border:1px solid rgb(188,188,188);
  padding:.2% .8%;
  box-shadow:inset 0 2px 6px rgba(0,0,0,.125),
    inset 0 0 1px rgba(0,0,0,.125),
    0 0 60px rgba(0,0,0,.04);}
input:disabled{
  border:none;color:#333;padding:0;background:rgba(0,0,0,0);box-shadow:0 0 rgba(255,255,255,0);}
input[type=range]{
  appearance:none;
  -moz-appearance:none;
  -webkit-appearance:none;
  border-radius:4px;
  height:10px;
  width:80%;
  padding:0;
  background:rgb(192,192,192);
  box-shadow:inset 0 2px 8px -1px black;}
input[type=range]::-ms-fill-lower{background:rgb(192,192,192);}
input[type=range]::-ms-fill-upper{background:rgb(192,192,192);}
input[type=range]::-ms-track{border:0;color:rgba(0,0,0,0);}
input[type=range]::-ms-thumb{
  border:0;
  height:1.5em;width:1em;
  background:rgb(178,212,255);
  box-shadow:inset 0 18px 14px -16px white,
    inset 0 2px 12px -4px white,
    inset 0 14px 50px -20px rgba(0,20,80,.5),
    inset 0 -16px 10px -8px rgb(220,250,255),
    inset 0 -16px 1px rgba(0,80,255,.4),
    0 1px 1px rgba(0,10,40,.8);}
input[type=range]::-moz-range-thumb{
  border-radius:0;
  border:0;
  height:1.5em;width:1em;
  background:rgb(178,212,255);
  box-shadow:inset 0 18px 14px -16px white,
    inset 0 2px 12px -4px white,
    inset 0 14px 50px -20px rgba(0,20,80,.5),
    inset 0 -16px 10px -8px rgb(220,250,255),
    inset 0 -16px 1px rgba(0,80,255,.4),
    0 1px 1px rgba(0,10,40,.8);}
input[type=range]::-webkit-slider-thumb{
  -webkit-appearance:none;
  height:1.5em;width:1em;
  background:rgb(178,212,255);
  box-shadow:inset 0 18px 14px -16px white,
    inset 0 2px 12px -4px white,
    inset 0 14px 50px -20px rgba(0,20,80,.5),
    inset 0 -16px 10px -8px rgb(220,250,255),
    inset 0 -16px 1px rgba(0,80,255,.4),
    0 1px 1px rgba(0,10,40,.8);}
select::-ms-expand{display:none;}
select{
  appearance:none;
  -moz-appearance:none;
  -webkit-appearance:none;
  border-radius:8px;
  width:100%;
  _padding:.2% 10%;
  text-indent:.01px;
  text-overflow:"";
  background:white;
  _opacity:0;
  box-shadow:inset 0 18px 14px -16px white,
    inset 0 2px 12px -4px white,
    inset 0 14px 50px -20px rgba(96,96,96,.5),
    inset 0 -16px 10px -8px white,
    inset 0 -32px 1px -16px rgba(192,192,192,.4),
    0 1px 1px rgba(20,20,20,.8);}
button{
  border:1px solid rgb(188,188,188);
  border-radius:16px;
  padding:2% 8%;
  font-weight:bold;
  text-shadow:0 2px 1px rgba(255,255,255,.25),
    0 0 8px rgba(255,255,255,.75);
  background:rgb(178,212,255);
  box-shadow:inset 0 14px 16px -18px white,
    inset 0 2px 8px -2px white,
    inset 0 4px 50px -12px rgba(0,20,80,.5),
    inset 0 -16px 12px -10px rgb(220,250,255),
    inset 0 -8px 1px 8px rgba(0,80,255,.4),
    0 1px 1px rgba(0,10,40,.8);}
button:active{background:rgb(158,192,235);}
ul{margin:0;padding:0;list-style-type:none;}
//li{height:80px;}
.h1,.h2,.h3{font-weight:bold;}.h1{font-size:160%;}.h2{font-size:140%;}.h3{font-size:120%;}
.SelectOuter{position:relative;display:inline-block;_overflow:hidden;width:100%;}
.SelectOuter:before{
  position:absolute;
  display:block;
  content:"";
  top:.2em;right:.2em;
  height:1em;width:1em;
  _content:"▼";
  font-size:90%;
  text-shadow:none;
  _background:red;}
.ButtonSquareHalf{
  float:left;
  width:50%;
  border-radius:0;
  padding:1%;
  background:white;
  box-shadow:inset 0 18px 14px -16px white,
    inset 0 2px 12px -4px white,
    inset 0 14px 50px -20px rgba(96,96,96,.5),
    inset 0 -16px 10px -8px white,
    inset 0 -16px 1px rgba(192,192,192,.4),
    0 1px 1px rgba(20,20,20,.8);}
.ButtonSquareHalf:active{background:rgb(200,200,200);}
.ButtonSquareHalfActive{
  float:left;
  width:50%;
  border-radius:0;
  padding:1%;
  box-shadow:inset 0 18px 14px -16px white,
    inset 0 2px 12px -4px white,
    inset 0 14px 50px -20px rgba(0,20,80,.5),
    inset 0 -16px 10px -8px rgb(220,250,255),
    inset 0 -16px 1px rgba(0,80,255,.4),
    0 1px 1px rgba(0,10,40,.8);}
.Note{font-size:80%;}
.ColumnWhole{float:left;margin:0 1%;width:96%;padding:0 1%;}
.ColumnHalf{float:left;margin:1%;width:46%;padding:.5% 1%;}
.ColumnThird{float:left;margin:1%;width:29%;padding:.5% 1%;}
.ColumnFourth{float:left;margin:1%;width:21%;padding:.5% 1%;}
.PopUp{position:fixed;top:0;height:100%;width:100%;background:rgba(0,0,0,.6);}
.PopUpContent{
  position:absolute;
  top:0;
  margin:10%;
  width:80%;
  border:1px solid #333;
  border-radius:8px;
  padding:1%;
  background:linear-gradient(
    rgb(236,230,248),
    rgb(200,194,212));
  background:-webkit-linear-gradient(
    rgb(236,230,248),
    rgb(200,194,212));
  box-shadow:0 10px 50px rgba(0,0,0,.8);}
.PopUpContent *{text-align:left;}
.Plate{
  float:left;
  height:100%;
  _margin:2%;
  border-radius:8px;
  _padding:2%;
  background:#dcdcdc;
  background:linear-gradient(#ddd,#aaa);
  background:-webkit-linear-gradient(#ddd,#aaa);
  box-shadow:0 2px 5px black,inset 0 -1px 1px white;
  _background:-webkit-repeating-linear-gradient(top, hsla(0,0%,100%,0) 0%, hsla(0,0%,100%,0)   6%, hsla(0,0%,100%, .1) 7.5%),
    -webkit-repeating-linear-gradient(top, hsla(0,0%,  0%,0) 0%, hsla(0,0%,  0%,0)   4%, hsla(0,0%,  0%,.03) 4.5%),
    -webkit-repeating-linear-gradient(top, hsla(0,0%,100%,0) 0%, hsla(0,0%,100%,0) 1.2%, hsla(0,0%,100%,.15) 2.2%),    
    linear-gradient(90deg, hsl(0,0%,78%) 0%,hsl(0,0%,90%) 47%,hsl(0,0%,78%) 53%,hsl(0,0%,70%)100%);}
.Dish{
  float:left;
  height:100%;
  _margin:2% 0;
  border-radius:8px 8px 0 0;
  background:white;
  background:url("stripe.gif") repeat;
  _background:linear-gradient(180deg,rgb(240,240,240) 50%,white 50%);
  _background:-webkit-linear-gradient(90deg,white 50%,rgb(240,240,240) 50%);
  background-size:4px 4px;
  box-shadow:0 4px 10px #111,inset 0 -1px 1px 1px #ddd;}
.Meter{
  content:"";
  height:4.1em;width:4.1em;
  background:url(//amotas.com/inovius/DialBack.svg)0 0/4em 4em no-repeat;}
.Meter:before{
  content:"";
  display:block;
  height:4em;width:4em;
  transition:all 1s;
  -webkit-transition:all 1s;
  background:url(//amotas.com/inovius/DialNeedle.svg)0 0/4em 4em no-repeat;}
.Meter:after{
  content:"";
  display:block;
  position:relative;
  top:-4em;
  height:4em;width:4em;
  background:url(//amotas.com/inovius/DialNeedlePin.svg)0 0/4em 4em no-repeat;}
#Main{height:100%;}
#MainContent{
  overflow:hidden;
  position:absolute;
  top:0;bottom:0;left:0;right:0;
  margin:auto;
  height:50.625vw;
  width:90vw;
  max-height:90vh;
  max-width:177.78vh;
  min-height:650px;
  min-width:1068px;
  _font-size:1.75vw;}
#MedicalCosts div:first-child li,#oopComparison div:first-child li{text-align:left;}
#MeterHSA{margin:auto;}
#oopComparison li:first-child{border-bottom:2px solid Black;margin-left:-10px;height:60px;width:110%;padding-left:10px;}